---
interface Props {
    class?: string;
}
const { class: className } = Astro.props;
---

<p
    class:list={[
        'text-base tracking-wide text-mute md:text-lg',
        className,
    ]}
>
    <slot />
</p>
